@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="text-center">
    <h1 class="display-4">Mostrar ultimo arquivo no Blob Storage</h1>
    <img src="@ViewBag.ImageUrl" />
  

</div>
